{{#if success_msg}}
<div id="success-alert" class="alert-overlay alert-center fade-out">
    <div class="col-md-2">
        <div class="alert alert-success text-center">{{success_msg}}</div>
    </div>
</div>
{{/if}}
{{#ifCond user.Id_Rol '==' 1}}
<h2>Lista de Comunidades Lingüísticas</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre de la Comunidad</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {{#each comunidades}}
        <tr>
            <td>{{this.Id_Comunidad_Linguistica}}</td>
            <td>{{this.Nombre_Comunidad_Linguistica}}</td>
            <td>
                <a href="/comunidad_linguistica/editar/{{this.Id_Comunidad_Linguistica}}">Editar</a>
                <form action="/comunidad_linguistica/eliminar/{{this.Id_Comunidad_Linguistica}}" method="POST"
                    style="display:inline;">
                    <button type="submit"
                        onclick="return confirm('¿Está seguro de que desea eliminar esta comunidad lingüística?');">Eliminar</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else ifCond user.Id_Rol '==' 2}}
<h2 class="text-center my-4">Acceso Denegado</h2>
<div class="container acceso-denegado">
    <p class="text-center">No tiene permisos para acceder a esta página.</p>
    <div class="text-center mt-4">
        <a href="/dashboard" class="btn btn-danger">Volver al Inicio</a>
    </div>
</div>
{{/ifCond}}