{{#if success_msg}}
<div id="success-alert" class="alert-overlay alert-center fade-out">
    <div class="col-md-2">
        <div class="alert alert-success text-center">{{success_msg}}</div>
    </div>
</div>
{{/if}}
<div class="container my-4">
    <h2 class="text-center mb-4">Lista de Pacientes</h2>
    {{#if pacientes.length}}
    <div class="accordion accordion-flush" id="accordionFlushExample">
        {{#each pacientes}}
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-heading-{{this.DPI}}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapse-{{this.DPI}}" aria-expanded="false"
                    aria-controls="flush-collapse-{{this.DPI}}">
                    DPI: {{this.DPI}}
                </button>
            </h2>
            <div id="flush-collapse-{{this.DPI}}" class="accordion-collapse collapse"
                aria-labelledby="flush-heading-{{this.DPI}}" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <table class="table table-bordered table-sm">
                        <tbody>
                            <tr>
                                <th>Primer Nombre</th>
                                <td>{{this.Primer_nombre}}</td>
                            </tr>
                            <tr>
                                <th>Segundo Nombre</th>
                                <td>{{this.Segundo_nombre}}</td>
                            </tr>
                            <tr>
                                <th>Tercer Nombre</th>
                                <td>{{this.Tercer_nombre}}</td>
                            </tr>
                            <tr>
                                <th>Primer Apellido</th>
                                <td>{{this.Primer_apellido}}</td>
                            </tr>
                            <tr>
                                <th>Segundo Apellido</th>
                                <td>{{this.Segundo_apellido}}</td>
                            </tr>
                            <tr>
                                <th>Fecha de Nacimiento</th>
                                <td>{{this.Fecha_nacimiento}}</td>
                            </tr>
                            <tr>
                                <th>Teléfono</th>
                                <td>{{this.Telefono}}</td>
                            </tr>
                            <tr>
                                <th>IGSS</th>
                                <td>{{this.IGSS}}</td>
                            </tr>
                            <tr>
                                <th>Género</th>
                                <td>{{this.Genero}}</td>
                            </tr>
                            <tr>
                                <th>Escolaridad</th>
                                <td>{{this.Nivel_Escolaridad}}</td>
                            </tr>
                            <tr>
                                <th>Comunidad Lingüística</th>
                                <td>{{this.Nombre_Comunidad_Linguistica}}</td>
                            </tr>
                            <tr>
                                <th>Profesión</th>
                                <td>{{this.Profesion_Oficio}}</td>
                            </tr>
                            <tr>
                                <th>Discapacidad</th>
                                <td>{{this.Tipo_Discapacidad}}</td>
                            </tr>
                            <tr>
                                <th>Pueblo</th>
                                <td>{{this.Nombre_Pueblo}}</td>
                            </tr>
                            <tr>
                                <th>Municipio</th>
                                <td>{{this.Nombre_Municipio}}</td>
                            </tr>
                            <tr>
                                <th>Departamento</th>
                                <td>{{this.Nombre_Departamento}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <center>
                        <a href="/paciente/editar/{{this.DPI}}" class="btn btn-warning">Editar</a>
                        <button type="submit" class="btn btn-sm btn-danger" data-bs-toggle="modal"
                            data-bs-target="#confirmDeleteModal"
                            onclick="setDeleteModal('el paciente con DPI', '{{this.DPI}}', 'paciente', '{{this.DPI}}')">
                            Eliminar
                        </button>
                    </center>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{else}}
        <div class="alert alert-warning text-center">No hay pacientes disponibles en este momento.</div>
    {{/if}}
</div>