<h2>Lista de Relaciones Paciente Consulta</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>DPI Paciente</th>
            <th>ID Consulta</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {{#each pacienteConsulta}}
        <tr>
            <td>{{this.Paciente_Consulta}}</td> <!-- Asegúrate de que los campos coincidan con la base de datos -->
            <td>{{this.DPI_Paciente}}</td>
            <td>{{this.Id_Consulta}}</td>
            <td>
                <a href="/paciente_consulta/editar/{{this.Paciente_Consulta}}">Editar</a>
                <form action="/paciente_consulta/eliminar/{{this.Paciente_Consulta}}" method="POST"
                    style="display:inline;">
                    <button type="submit"
                        onclick="return confirm('¿Está seguro de que desea eliminar la relación paciente - consulta?');">Eliminar</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>