{{#if success_msg}}
<div id="success-alert" class="alert-overlay alert-center fade-out">
    <div class="col-md-2">
        <div class="alert alert-success text-center">{{success_msg}}</div>
    </div>
</div>
{{/if}}
<div class="container my-4">
    <h2 class="text-center mb-4">Lista de Tipo de Consultas</h2>
    {{#if tipo_consultas.length}}
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID Consulta</th>
                <th scope="col">Fecha Consulta</th>
                <th scope="col">Tipo de Consulta</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each tipo_consultas}}
            <tr>
                <td>{{this.Id_Consulta}}</td>
                <td>{{this.Fecha_Consulta}}</td>
                <td>{{this.Tipo_Consulta}}</td>
                <td>
                    <a href="/tipo_consulta/editar/{{this.Id_Consulta}}" class="btn btn-sm btn-warning me-2">Editar</a>
                    <button type="submit" class="btn btn-sm btn-danger" data-bs-toggle="modal"
                        data-bs-target="#confirmDeleteModal"
                        onclick="setDeleteModal('la consulta', '{{this.Tipo_Consulta}}', 'tipo_consulta', '{{this.Id_Consulta}}')">
                        Eliminar
                    </button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
    <div class="alert alert-warning text-center">No hay consultas disponibles en este momento.</div>
    {{/if}}
</div>