{{#ifCond user.Id_Rol '==' 1}}
<h2>Lista de Discapacidades</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre de la Discapacidad</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {{#each discapacidad}}
        <tr>
            <td>{{this.Id_Discapacidad}}</td> <!-- Asegúrate de que los campos coincidan con la base de datos -->
            <td>{{this.Tipo_Discapacidad}}</td>
            <td>
                <a href="/discapacidad/editar/{{this.Id_Discapacidad}}">Editar</a>
                <form action="/discapacidad/eliminar/{{this.Id_Discapacidad}}" method="POST"
                    style="display:inline;">
                    <button type="submit"
                        onclick="return confirm('¿Está seguro de que desea eliminar la Discapacidad?');">Eliminar</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else ifCond user.Id_Rol '==' 2}}
<h2 class="text-center my-4">Acceso Denegado</h2>
<div class="container acceso-denegado">
    <p class="text-center">No tiene permisos para acceder a esta página.</p>
    <div class="text-center mt-4">
        <a href="/dashboard" class="btn btn-danger">Volver al Inicio</a>
    </div>
</div>
{{/ifCond}}