<h2 class="text-center my-4">Actualizar Paciente</h2>
<form action="/paciente/actualizar" method="POST" class="container">
    <input type="hidden" name="DPI" value="{{paciente.DPI}}" />
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="Primer_nombre">Primer Nombre</font></label>
                    <input type="text" name="Primer_nombre" id="Primer_nombre" class="form-control"
                        value="{{paciente.Primer_nombre}}" required>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="Segundo_nombre">Segundo Nombre</label>
                    <input type="text" name="Segundo_nombre" id="Segundo_nombre" class="form-control"
                        value="{{paciente.Segundo_nombre}}">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="Tercer_nombre">Tercer Nombre</label>
                    <input type="text" name="Tercer_nombre" id="Tercer_nombre" class="form-control"
                        value="{{paciente.Tercer_nombre}}">
                </div>
            </div>
        </div>
        <div class="col-md-2 mb-3">
            <label for="Primer_apellido">Primer Apellido</label>
            <input type="text" name="Primer_apellido" id="Primer_apellido" class="form-control"
                value="{{paciente.Primer_apellido}}" required>
        </div>
        <div class="col-md-2 mb-3">
            <label for="Segundo_apellido">Segundo Apellido</label>
            <input type="text" name="Segundo_apellido" id="Segundo_apellido" class="form-control"
                value="{{paciente.Segundo_apellido}}">
        </div>
        <div class="col-md-2 mb-3">
            <label for="Fecha_nacimiento">Fecha de Nacimiento</label>
            <input type="date" name="Fecha_nacimiento" id="Fecha_nacimiento" class="form-control"
                value="{{paciente.Fecha_nacimiento}}" required>
        </div>
        <div class="col-md-2 mb-3">
            <label for="Telefono">Teléfono</label>
            <input type="text" name="Telefono" id="Telefono" class="form-control" value="{{paciente.Telefono}}"
                required>
        </div>
        <div class="col-md-2 mb-3">
            <label for="IGSS">IGSS <font color="red">*</font></label>
            <div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="IGSS" id="IGSS_S" value="S" {{#ifCond paciente.IGSS '==' 'S'}}checked{{/ifCond}} required>
                    <label class="form-check-label" for="IGSS_S">Sí</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="IGSS" id="IGSS_N" value="N" {{#ifCond paciente.IGSS '==' 'N'}}checked{{/ifCond}} required>
                    <label class="form-check-label" for="IGSS_N">No</label>
                </div>
            </div>
        </div>
        <div class="col-md-2 mb-3">
            <label for="Genero">Género <font color="red">*</font></label>
            <div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Genero" id="Genero_M" value="M" {{#ifCond paciente.Genero '==' 'M'}}checked{{/ifCond}} required>
                    <label class="form-check-label" for="Genero_M">Masculino</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Genero" id="Genero_F" value="F" {{#ifCond paciente.Genero '==' 'F'}}checked{{/ifCond}} required>
                    <label class="form-check-label" for="Genero_F">Femenino</label>
                </div>
            </div>
        </div>
        <div class="col-md-2 mb-3">
            <label for="Id_Escolaridad">Escolaridad</label>
            <select name="Id_Escolaridad" id="Id_Escolaridad" class="form-control" required>
                {{#each escolaridades}}
                <option value="{{this.Id_Escolaridad}}" {{#ifCond this.Id_Escolaridad '==' ../paciente.Id_Escolaridad}}selected{{/ifCond}}>{{this.Nivel_Escolaridad}}</option>
                {{/each}}
            </select>
        </div>
        <div class="col-md-2 mb-3">
            <label for="Id_Comunidad_Linguistica">Comunidad</label>
            <select name="Id_Comunidad_Linguistica" id="Id_Comunidad_Linguistica" class="form-control" required>
                {{#each comunidades}}
                <option value="{{this.Id_Comunidad_Linguistica}}" {{#ifCond this.Id_Comunidad_Linguistica '==' ../paciente.Id_Comunidad_Linguistica}}selected{{/ifCond}}>{{this.Nombre_Comunidad_Linguistica}}</option>
                {{/each}}
            </select>
        </div>
        <div class="col-md-2 mb-3">
            <label for="Id_Profesion">Profesión</label>
            <select name="Id_Profesion" id="Id_Profesion" class="form-control" required>
                {{#each profesiones}}
                <option value="{{this.Id_Profesion}}" {{#ifCond this.Id_Profesion '==' ../paciente.Id_Profesion}}selected{{/ifCond}}>{{this.Profesion_Oficio}}</option>
                {{/each}}
            </select>
        </div>
        <div class="col-md-2 mb-3">
            <label for="Id_Disapacidad">Discapacidad</label>
            <select name="Id_Disapacidad" id="Id_Disapacidad" class="form-control" required>
                {{#each discapacidades}}
                <option value="{{this.Id_Discapacidad}}" {{#ifCond this.Id_Discapacidad '==' ../paciente.Id_Disapacidad}}selected{{/ifCond}}>{{this.Tipo_Discapacidad}}</option>
                {{/each}}
            </select>
        </div>
        <div class="col-md-2 mb-3">
            <label for="Id_Control">Control</label>
            <select name="Id_Control" id="Id_Control" class="form-control" required>
                {{#each controles}}
                <option value="{{this.Id_Control}}" {{#ifCond this.Id_Control '==' ../paciente.Id_Control}}selected{{/ifCond}}>{{this.Tipo_Control}}</option>
                {{/each}}
            </select>
        </div>
        <div class="col-md-2 mb-3">
            <label for="Id_Pueblo">Pueblo</label>
            <select name="Id_Pueblo" id="Id_Pueblo" class="form-control" required>
                {{#each pueblos}}
                <option value="{{this.Id_Pueblo}}" {{#ifCond this.Id_Pueblo '==' ../paciente.Id_Pueblo}}selected{{/ifCond}}>{{this.Nombre_Pueblo}}</option>
                {{/each}}
            </select>
        </div>
        <div class="col-md-2 mb-3">
            <label for="Id_Municipio">Municipio</label>
            <select name="Id_Municipio" id="Id_Municipio" class="form-control" required>
                {{#each municipios}}
                <option value="{{this.Id_Municipio}}" {{#ifCond this.Id_Municipio '==' ../paciente.Id_Municipio}}selected{{/ifCond}}>{{this.Nombre_Municipio}}</option>
                {{/each}}
            </select>
        </div>
        <div class="col-md-2 mb-3">
            <label for="Id_Departamento">Departamento</label>
            <select name="Id_Departamento" id="Id_Departamento" class="form-control" required>
                {{#each departamentos}}
                <option value="{{this.Id_Departamento}}" {{#ifCond this.Id_Departamento '==' ../paciente.Id_Departamento}}selected{{/ifCond}}>{{this.Nombre_Departamento}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </div>
</form>